* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.navbar__img {
    position: sticky;
    margin: 0;
    padding: 0;
    width: 100%;
    top: 0;
    position: sticky;
    background-color: #000000;
    z-index: 1;
}

.img__logo {
    width: 3.5rem;
    margin: 0.2rem 1rem;
}

.nav__edit {
    justify-content: end;
}

.color__navbar {
    background-color: #000000;
}

.conteiner__logo-img {
    display: flex;
    width: 5rem;
    justify-content: end;
}

.coloreiter {
    background-color: #a5a5a5;
    padding: 0 3rem;
    box-shadow: 0px 0px 8px #000000;
}

/*MAIN*/


.main--inicio {
    display: flex;
    max-width: 80rem;
    margin: 0rem 0rem 0 2rem;
    height: 91.2vh;
}

.main__text {
    font-size: 1rem;
    color: rgb(0, 0, 0);
    padding-top: 4.5rem;
}


/*boton*/
.boton__index {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
}

.main__h2 {
    font-size: 3rem;
    max-width: 30rem;
}

.main__h4 {
    font-size: 1.1rem;
    margin-top: 0.5rem;
    max-width: 28rem;
}

.boton__unete {
    color: rgb(0, 0, 0);
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1rem;
    box-shadow: 0px 0px 15px 7px #000000c9;
    border: 4.5px double #000000;
}


.boton__unete:hover {
    box-shadow: 0px 0px 5px 4px #818181c9;
    color: #974343;
}

.main__img img {
    display: flex;
    margin: auto;
    width: 100%;
    border: 1px solid red;
    height: 91.2vh;
    padding: 8.5rem 6rem;
}

/*fondo*/
.imgdefondo {
    background-image: url(../img/messi.png);
    background-size: cover;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
}

/*FOOTER*/
footer {
    background-color: #000000;
    padding: 0.5rem;
}

.footer {
    max-width: 13rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    column-gap: 0.3rem;
    text-align: center;
    color: #000000;
}

h3 {
    color: #ffffff;
    text-align: center;
}

.redes {
    margin: 0.5rem 0;
}

a .img__redes {
    width: 59%;
    background-size: contain;
    background-color: #ffffff;
    border-radius: 20px;
    border: 1.5px double #ffffff;
}

img:hover {
    box-shadow: 0px 0px 12px #fafafa;
}

.copy {
    text-align: center;
    color: #ffffff;
}

/*links de las navbar*/
.nav-item a {
    font-size: 1.5rem;
}

.nav-item a:hover {
    color: #974343;
    text-shadow: 0px 0px 10px #ffffff;
}

/*pagina de niños*/

.main__niños-text {
    color: #ffffff;
    text-shadow: 0px 0px 5px #000000;
}

.main--niños {
    display: flex;
    max-width: 80rem;
    margin: 0rem 0rem 0 2.7rem;
    height: 91.2vh;
}

.main__text--niños {
    font-size: 0.5rem;
    color: rgb(0, 0, 0);
    padding-top: 19.4rem;
}

.imgdefondo__niños {
    background-image: url(../img/fondo\ ninos.png);
    background-size: cover;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
}

.main__img-profes {
    display: flex;
    width: 52rem;
    background-size: contain;
}

.main__img-profes img {
    width: 100%;
}

.main__img-izquierda {
    display: flex;
    width: 35rem;
    margin: auto
}


.main__niños-text {
    font-size: 3rem;
    width: 16rem;
    margin-top: auto;
}

.carrusel {
    max-width: 18.5rem;
}

.body__niños {
    background-color: #83838338;
}

.main__h2-niños {
    color: #ffffff;
    text-shadow: 0px 0px 5px #000000;
}

.main__h4-niños {
    color: #ffffff;
    max-width: 28rem;
    text-shadow: 0px 0px 5px #000000;
}


.carruselx3img img {
    border-radius: 5%;
}

/*container section niños*/

.container__section-niños {
    max-width: 1348.5px;
    height: 100vh;
}

.container__section-div-niños {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}

.container__section-h4-niños {
    font-size: 1.8rem;
    text-align: center;
}

.container__section-p-niños {
    margin-left: auto;
    margin-right: auto;
    max-width: 40rem;
    text-align: center;
}

/*RECOMENDADO PARA VOS NIÑOS*/
.container__zapatillas-niños {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.container__zapas-venta {
    margin-left: 3.5rem;
    font-size: 2rem;
}

.container__h3-niños {
    color: #000000;
}

/*grid */
.container__zapa-niños-grid {
    list-style: none;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
}


.boton__niños-precios {
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 1rem;
    border: 4.5px double #000000;
    margin: 0 0 0.8rem 0;
    padding: 5px;
    box-shadow: 0px 0px 5px #000000;
}

.boton__niños-precios:hover {
    box-shadow: 0px 0px 5px #ffffff;
}

.footer__niños {
    margin-top: 6.8rem;
}


/*MUJERES PAGINA*/

.imgdefondo__mujeres {
    background-image: url(../img/mujer-joven-haciendo-deporte-calle-.png);
    background-size: cover;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
}

.container__oferta-mujeres {
    width: 100%;
    height: 91vh;
}

.container__oferta-mujeres-2 {
    display: flex;
    border: 2rem double #ffffffa1;
    flex-direction: column;
    color: #ffffff;
    max-width: 53rem;
    margin: auto;
    margin-top: 8rem;
}

.container__oferta-mujeres-h4 {
    font-size: 12rem;
    text-align: center;
}

.boton__mujer-compra-ya {
    max-width: 100rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/*main mujeres-grid*/

.container__main-mujeres {
    height: 135.3vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "caja1 caja1 caja1 caja1 caja1 caja1"
        "caja2 caja2 caja2 caja3 caja3 caja3"
        "caja2 caja2 caja2 caja4 caja4 caja4"
        "caja5 caja5 caja5 caja5 caja5 caja5 "
        "caja6 caja6 caja6 caja6 caja6 caja6";
}


.caja1 {
    grid-area: caja1;
}

.contatainer__main-h4 {
    max-width: 27rem;
    font-size: 2rem;
    text-align: center;
    padding: 5rem 2rem 0 2.2rem;
}

.container__main-p {
    font-size: 1.4rem;
    padding: 0 0 0 3.4rem;
    max-width: 50rem;
}

.caja2 {
    margin: auto;
    grid-area: caja2;
}

.caja2 img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.caja3 {
    grid-area: caja3;
    margin: auto;
}

.text-caja3 {
    text-align: center;
}

.caja3 img {
    max-width: 15rem;
    display: flex;
    margin: auto;
}

.caja3:hover {
    box-shadow: 0px 0px 5px #0000002f;
    max-width: 15rem;
}

.boton__acsesorios {
    display: flex;
    margin: auto;
    margin-top: 0.5rem;
    padding: 0.5rem 2rem;
}

.caja4 {
    grid-area: caja4;
}

.caja5 {
    grid-area: caja5;
}

.caja6 {
    grid-area: caja6;
}

.body__mujeres {
    background-color: #b3b3b3b6;
}

/*HOMBRES*/

.boton__hombre {
    width: 25rem;
    margin: 1rem 0 0 6.5rem;
}

.body__hombre {
    background-color: #b3b3b3b6;
}

.main__hombres {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 0.5fr);
    grid-template-areas: "box1 box1 box1 box1 box1 box1"
                         "box2 box2 box2 box3 box3 box3"
                         "box4 box4 box4 box5 box5 box5";
}

.box1 {
    grid-area: box1;
    height: 91vh;
    background-image: url(../img/man.png);
    background-size: cover;
    display: flex;
}

.main__box-container {
    width: 50rem;
    color: #fafafa;
    background-color: #96969659;
    margin: auto;
}

.text__h2-hombres {
    padding: 1rem;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.4rem;
}

.main__ul-hombres {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__ul-hombres li {
    margin: 0.2rem;
    list-style-type: none;
}

.boton__hombre-main {
    background-color: #292929;
    color: #ffffff;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.boton__hombre-main:hover {
    box-shadow: 0px 0px 10px #ffffff;
}

.box2 {
    grid-area: box2;
    color: #818181;
}

.box2 img {
    width: 100%;
}

.box3 {
    grid-area: box3;
}

.box3 img {
    width: 100%;
}

.box4 {
    grid-area: box4;
}

.box5 {
    grid-area: box5;
}

/*contacto*/
.main__contacto {
    height: 80vh;
}

.body__contacto {
    background-image: url(../img/contacto.png);
    background-size: 100%;
}

.container__contacto {
    color: #fff;
    max-width: 600px;
    padding: 20px;
    background-color: #b8b8b87c;
    margin: auto;
    margin-top: 5rem;
    border-radius: 10%;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input,
textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #020202b6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 30rem;
    margin-left: 2.1rem;
}

button[type="submit"]:hover {
    background-color: #460000;
}

@media screen and (max-width: 480px) {

    /*index*/
    .main__h4 {
        background-color: #ffffff5d;
    }

    .coloreiter {
        flex-direction: column;
    }

    .navbar__responsive {
        margin-left: -1rem;
    }

    .imgdefondo {
        background-size: 50rem;
        margin-top: 5rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }

    .main__text {
        text-shadow: 0px 0px 5px #fff;
    }

    /*CONTACTO*/
    .body__contacto {
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        background-position: center;
    }

    .container__contacto {
        width: 24rem;
        margin: 8rem auto;
    }

    button[type="submit"] {
        width: 12rem;
        margin-top: -1rem;
        margin-left: 4.2rem;
    }

}