@charset "UTF-8";
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar__edit {
  border: 1px solid rgba(255, 0, 0, 0);
  position: fixed;
  width: 100%;
  margin-top: -0.6rem;
  max-height: 3.5rem;
  z-index: 2;
}
.navbar__edit .navbar__edit-containerFluid {
  border: 1px solid rgba(255, 230, 0, 0);
  background-color: #a5a5a5;
  box-shadow: 0px 0px 20px #000000;
}
.navbar__edit .navbar__edit-containerFluid .navbar__imgLogo img {
  width: 4.1rem;
  margin-top: 1.5rem;
}
.navbar__edit .navbar__edit-containerFluid .navbar__divInicoTiendaContacto {
  border: 1px solid rgba(0, 0, 0, 0);
  justify-content: end;
  margin-top: 1.4rem;
  margin-left: 1rem;
}
.navbar__edit .navbar__edit-containerFluid .navbar__li_a {
  margin-left: 0.5rem;
  margin-right: 1rem;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #e1e1e1;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 500ms;
  transition-property: color;
}
.navbar__edit .navbar__edit-containerFluid .navbar__li_a:focus, .navbar__edit .navbar__edit-containerFluid .navbar__li_a:hover {
  color: #000000;
}
.navbar__edit .navbar__edit-containerFluid .navbar__li_a:focus:after, .navbar__edit .navbar__edit-containerFluid .navbar__li_a:hover:after {
  width: 100%;
  left: 0%;
}
.navbar__edit .navbar__edit-containerFluid .navbar__li_a:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #000000;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
.navbar__edit .navbar__edit-containerFluid .navbar__li_a .cajita__tienda {
  border: 1.5px solid #000000;
  background-color: #a5a5a5;
  box-shadow: 0px 0px 5px #000000;
}
.navbar__edit .navbar__edit-containerFluid .navbar__li_a .cajita__tienda .tiendita {
  border: 1px solid red;
  align-items: center;
  background-color: transparent;
  color: #000000;
  cursor: pointer;
  display: flex;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  padding: 1rem;
}
.navbar__edit .navbar__edit-containerFluid .navbar__li_a .cajita__tienda .tiendita:before {
  background-color: #fcfcfc;
  content: "";
  display: inline-block;
  height: 2px;
  margin-right: 5px;
  transition: all 0.42s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 0;
}
.navbar__edit .navbar__edit-containerFluid .navbar__li_a .cajita__tienda .tiendita:hover:before {
  background-color: rgba(253, 253, 253, 0.4588235294);
  width: 3rem;
}

.main__div__index {
  border: 0.1px solid #ddb;
  background-image: url(../img/messi.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ddb;
  font-family: "Roboto", sans-serif;
}
.main__div__index .main__section__cajita {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  margin: 7rem 0 0 2rem;
}
.main__div__index .main__section__cajita .main__h1 {
  color: #fff;
  text-shadow: 0px 0px 5px #000000;
  font-size: 3rem;
}
.main__div__index .main__section__cajita .main__p {
  color: #fff;
  font-size: 1.2rem;
  text-shadow: 0px 0px 5px #000000;
}
.main__div__index .main__section__cajita .main__button {
  width: 24rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: auto;
  padding: 10px 0px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: rgba(255, 255, 255, 0.4117647059);
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  box-shadow: 4px 8px 20px -3px rgba(0, 0, 0, 0.2705882353);
  transition: all 250ms;
  overflow: hidden;
}
.main__div__index .main__section__cajita .main__button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.2705882353);
  transition: all 450ms;
}
.main__div__index .main__section__cajita .main__button:hover {
  color: #e8e8e8;
}
.main__div__index .main__section__cajita .main__button:hover::before {
  width: 100%;
}

.body__contacto {
  background: #403B4A;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E7E9BB, #403B4A);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.body__contacto .main__contacto {
  height: 100vh;
  border: 2px solid #000000;
}
.body__contacto .main__contacto .container__contacto {
  background-color: rgba(0, 0, 0, 0.1215686275);
  border: 1px solid #000000;
  width: 20rem;
  margin: auto;
  margin-top: 12rem;
  padding: 1rem;
  border-radius: 10px;
  animation: fade-in 1s ease-in-out, colors 5s infinite;
}
.body__contacto .main__contacto .container__contacto .contactanos {
  color: antiquewhite;
  text-align: center;
  border-radius: 10px;
}
.body__contacto .main__contacto .container__contacto .form__contactos {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.body__contacto .main__contacto .container__contacto .form__contactos .boton__contactos {
  width: 100%;
  padding: 0.2rem;
  border-radius: 10px;
  margin-top: 0.6rem;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.body__contacto .main__contacto .container__contacto .form__contactos .boton__contactos:hover {
  background-color: rgba(255, 255, 255, 0.4431372549);
  color: #ffffff;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes colors {
  0% {
    background-color: rgba(0, 0, 0, 0.1019607843);
  }
  25% {
    background-color: rgba(0, 0, 0, 0.1725490196);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.233);
  }
  75% {
    background-color: rgba(0, 0, 0, 0.1215686275);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.0392156863);
  }
}

footer {
  background: #000000;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 8rem;
}
footer .footer__h2 {
  text-align: center;
  color: #ddb;
}
footer .footer {
  display: flex;
  justify-content: center;
}
footer .footer .redes {
  margin-top: 3rem;
  border: 1px solid #ffffff;
  max-width: 2.2rem;
  background-color: #ddb;
  border-radius: 18px;
  margin: 0.3rem;
}
footer .footer .redes .img__redes {
  width: 100%;
  border-radius: 12.5px;
}
footer .footer .redes .img__redes:hover {
  box-shadow: 0px 0px 13px #ddb;
}
footer .footer .redes p {
  color: #ddb;
}
footer .copy {
  color: #ddb;
  text-align: center;
}

.mujer {
  background-color: rgba(179, 179, 179, 0.5960784314);
}
.mujer .container__mujer {
  display: flex;
  flex-direction: column;
}
.mujer .container__mujer .main_mujer {
  max-height: 100vh;
  margin-top: 5rem;
  display: grid;
}
.mujer .container__mujer .section1 {
  background-image: url(../img/mujer-joven-haciendo-deporte-calle-.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 1rem;
  background-attachment: fixed;
}
.mujer .container__mujer .section1 .carta {
  width: 45rem;
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  margin-bottom: 1rem;
  position: relative;
}
.mujer .container__mujer .section1 .carta::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  border: 3px solid transparent;
  border-radius: 8px;
  animation: animateBorder 1.5s linear infinite;
}
.mujer .container__mujer .section1 .main__h2 {
  font-size: 11rem;
  text-shadow: 0px 0px 5px #000;
}
@keyframes animateBorder {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5019607843);
  }
  50% {
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5019607843);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 254, 254, 0.5019607843);
  }
}
.mujer .container__mujer .section1 .main__button-mujer {
  width: 24rem;
  margin-top: 1rem;
  padding: 10px 0px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: rgba(255, 255, 255, 0.4117647059);
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  box-shadow: 4px 8px 20px -3px rgba(0, 0, 0, 0.2705882353);
  transition: all 250ms;
  overflow: hidden;
  margin-left: 80vh;
  text-shadow: 0px 0px 5px #fff;
}
.mujer .container__mujer .section1 .main__button-mujer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.2705882353);
  transition: all 450ms;
}
.mujer .container__mujer .section1 .main__button-mujer:hover {
  color: #e8e8e8;
}
.mujer .container__mujer .section1 .main__button-mujer:hover::before {
  width: 100%;
}
.mujer .container__mujer .cajas {
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-rows: 1fr, 1fr, 1fr;
  grid-template-areas: "cajita1 cajita1 cajita1" "cajita2 cajita3 cajita3" "cajita4 cajita4 cajita4";
}
.mujer .container__mujer .cajas .cajita .h3__prenda__izquierda {
  width: 26rem;
  margin-left: 2rem;
  margin-top: 5rem;
}
.mujer .container__mujer .cajas .cajita .p__mujer {
  margin-left: 2rem;
  margin-bottom: 5rem;
}
.mujer .container__mujer .cajas .cajita1 {
  grid-area: cajita1;
}
.mujer .container__mujer .cajas .cajita2 {
  grid-area: cajita2;
  max-height: 100vh;
}
.mujer .container__mujer .cajas .cajita2 img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.mujer .container__mujer .cajas .cajita3 {
  grid-area: cajita3;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}
.mujer .container__mujer .cajas .cajita3 img {
  width: 12rem;
  margin: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  transition: transform 1.1s ease;
}
.mujer .container__mujer .cajas .cajita3 img:hover {
  transform: scale(1.1);
  transform: translate(0px, -15px);
  animation-iteration-count: infinite;
  border: 4px solid rgba(252, 252, 252, 0.6705882353);
  box-shadow: 0px 0px 15px #ffffff;
}
.mujer .container__mujer .cajas .cajita3 .contenido1 {
  margin: auto;
  width: 15rem;
  display: flex;
  flex-direction: column;
  animation: rodear 4s linear infinite;
}
@keyframes rodear {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.637);
  }
  50% {
    box-shadow: 0 0 0.1rem 0.1rem rgba(0, 0, 0, 0.466);
  }
  100% {
    box-shadow: 0 0 0 0 rgb(0, 0, 0);
  }
}
.mujer .container__mujer .cajas .cajita3 .h3__mujer__remeras {
  text-align: center;
}
.mujer .container__mujer .cajas .cajita3 .boton__mujer {
  width: 8rem;
  margin: auto;
  margin-bottom: 0.5rem;
  padding: 0.1rem;
  border: unset;
  border-radius: 10px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 15px;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.2705882353);
  transition: all 250ms;
  overflow: hidden;
}
.mujer .container__mujer .cajas .cajita3 .boton__mujer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}
.mujer .container__mujer .cajas .cajita3 .boton__mujer:hover {
  color: #e8e8e8;
}
.mujer .container__mujer .cajas .cajita3 .boton__mujer:hover::before {
  width: 100%;
}
.mujer .container__mujer .contenido2 {
  margin: auto;
  width: 15rem;
  display: flex;
  flex-direction: column;
  animation: rodear 6s linear infinite;
}
@keyframes rodear {
  0% {
    box-shadow: 0 0 0 0 #ffffff;
  }
  50% {
    box-shadow: 0 0 0.1rem 0.1rem rgb(255, 255, 255);
  }
  100% {
    box-shadow: 0 0 0 0 rgb(255, 255, 255);
  }
}
.mujer .container__mujer .cajita4 {
  grid-area: cajita4;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.mujer .container__mujer .cajita4 .cajaZapaMujer {
  border-radius: 10px;
  background-color: rgba(221, 221, 187, 0.4039215686);
  width: 15rem;
  max-height: 25rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  box-shadow: 0px 0px 5px #000;
  transition: transform 0.5s ease;
}
.mujer .container__mujer .cajita4 .cajaZapaMujer img {
  width: 100%;
}
.mujer .container__mujer .cajita4 .cajaZapaMujer:hover {
  transform: scale(1.1);
  transform: translate(0px, -15px);
  animation-iteration-count: infinite;
}
.mujer .container__mujer .cajita4 .cajaZapaMujer p {
  margin-top: 0.3rem;
}
.mujer .container__mujer .cajita4 .cajaZapaMujer .cajita4__button-mujer {
  padding: 0.2rem;
  margin-bottom: 0.2rem;
}
.mujer .container__mujer .cajita4 .cajaZapaMujer .boton {
  padding: 0.2rem;
  display: inline-block;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 0.5rem;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: -1rem;
}
.mujer .container__mujer .cajita4 .cajaZapaMujer .boton button {
  padding: 0.2rem 0.1rem;
  border-radius: 5px;
}
.mujer .container__mujer .cajita4 .cajaZapaMujer .boton button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.2s;
}
.mujer .container__mujer .cajita4 .cajaZapaMujer .boton button:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.2s;
}
.mujer .container__mujer .cajita4 .cajaZapaMujer .boton:hover button {
  padding-right: 15px;
}
.mujer .container__mujer .cajita4 .cajaZapaMujer .boton:hover button:after {
  opacity: 1;
  right: 0;
}

main .section__superior {
  background-image: url(../img/fondo\ ninos.png);
  border: 1px solid rgba(255, 0, 0, 0);
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 5rem;
  gap: 5rem;
  justify-content: space-between;
  background-attachment: fixed;
}
main .section__superior .section__cajita1 {
  width: 45rem;
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  margin-bottom: 1rem;
  position: relative;
}
@keyframes animateBorder {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5019607843);
  }
  50% {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.5019607843);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5019607843);
  }
}
main .section__superior .section__cajita1::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  border: 3px solid transparent;
  border-radius: 8px;
  animation: animateBorder 1.5s linear infinite;
}
main .section__superior .section__cajita1 .section__niños__h3 {
  font-size: 8rem;
  text-align: center;
  text-shadow: 0px 0px 5px #000;
}
main .section__superior .section__cajita1 .main__button-niños {
  width: 20rem;
  padding: 10px 0px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: rgba(255, 255, 255, 0.4117647059);
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  box-shadow: 4px 8px 20px -3px rgba(0, 0, 0, 0.2705882353);
  transition: all 250ms;
  overflow: hidden;
  text-shadow: 0px 0px 5px #fff;
  margin-left: 28vh;
}
main .section__superior .section__cajita1 .main__button-niños::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.2705882353);
  transition: all 450ms;
}
main .section__superior .section__cajita1 .main__button-niños:hover {
  color: #e8e8e8;
}
main .section__superior .section__cajita1 .main__button-niños:hover::before {
  width: 100%;
}
main .section__superior .section__cajita2 {
  text-align: center;
  margin-top: 8rem;
  width: 22rem;
}
main .section__superior .section__cajita2:hover {
  box-shadow: 0px 0px 15px #ffffff;
}
main .section__superior .section__cajita2 .img__carrusel-1 img {
  width: 100%;
}
main .section__superior .section__cajita2 h1 {
  font-size: 1.5rem;
  color: #fff;
  text-shadow: 0px 0px 5px #000;
}
main .section__media {
  height: 60vh;
}
main .section__media .section__div {
  border: 1px solid rgba(255, 0, 0, 0);
  padding: 6rem;
}
main .section__media .section__div .section__h3-media {
  text-align: center;
  margin-top: 8rem;
  margin-left: 8rem;
}
main .section__media .section__div .section__p-media {
  max-width: 65rem;
  text-align: center;
  margin-left: 2rem;
}
main .section__inferior-niños {
  background-color: rgba(255, 255, 255, 0.7529411765);
  display: flex;
  flex-wrap: wrap;
  height: 110vh;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  row-gap: 1rem;
  justify-content: center;
}
main .section__inferior-niños .niños {
  width: 18rem;
  background-color: rgba(255, 255, 255, 0.231372549);
  text-align: center;
  box-shadow: 0px 0px 10px #000000;
  transition: transform 1.1s ease;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin: 1rem;
}
main .section__inferior-niños .niños img {
  width: 100%;
}
main .section__inferior-niños .niños:hover {
  transform: scale(1.1);
  transform: translate(0px, -15px);
  animation-iteration-count: infinite;
  border: 4px solid #ffffff;
}

.section__superior-h {
  background-image: url(../img/man.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.section__superior-h .section__div {
  text-align: center;
  padding-top: 10rem;
  border: 3px solid #000000;
}
.section__superior-h .section__div .text__h2-hombres {
  font-size: 3rem;
  color: beige;
  background-color: rgba(0, 0, 0, 0.1568627451);
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}
.section__superior-h .section__div .main__ul-hombres {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  margin-right: auto;
  margin-left: auto;
  gap: 0.5rem;
  font-size: 1.2rem;
  color: aliceblue;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.3294117647);
}
.section__superior-h .section__div .main__ul-hombres .selection__li-h {
  margin: 0.5rem;
}
.section__superior-h .section__div .main__button-hombre {
  width: 20rem;
  padding: 5px 0px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: rgba(255, 255, 255, 0.4117647059);
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  box-shadow: 4px 8px 20px -3px rgba(0, 0, 0, 0.2705882353);
  transition: all 250ms;
  overflow: hidden;
  text-shadow: 0px 0px 5px #fff;
  margin-bottom: 0.4rem;
}
.section__superior-h .section__div .main__button-hombre::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.2705882353);
  transition: all 450ms;
}
.section__superior-h .section__div .main__button-hombre:hover {
  color: #e8e8e8;
}
.section__superior-h .section__div .main__button-hombre:hover::before {
  width: 100%;
}

.section__medio-h {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 6rem;
       column-gap: 6rem;
  row-gap: 0.5rem;
  margin-bottom: 10.3rem;
}
.section__medio-h .menu1 {
  border: 1px solid rgba(255, 0, 0, 0);
  width: 13rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  box-shadow: 0px 0px 5px #000000;
  transition: transform 0.5s ease;
  border-radius: 5px;
}
.section__medio-h .menu1:hover {
  transform: scale(1.1);
  transform: translate(0px, -15px);
  animation-iteration-count: infinite;
}
.section__medio-h .menu1 img {
  width: 100%;
}
.section__medio-h .menu1 .boton {
  padding: 0.2rem;
  display: inline-block;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 0.5rem;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: -1rem;
}
.section__medio-h .menu1 .boton button {
  padding: 0.2rem 0.1rem;
  border-radius: 5px;
}
.section__medio-h .menu1 .boton button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.2s;
}
.section__medio-h .menu1 .boton button:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.2s;
}
.section__medio-h .menu1 .boton:hover button {
  padding-right: 15px;
}
.section__medio-h .menu1 .boton:hover button:after {
  opacity: 1;
  right: 0;
}
.section__medio-h .menu2 {
  border: 1px solid rgba(255, 0, 0, 0);
  width: 13rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  box-shadow: 0px 0px 5px #000000;
  transition: transform 0.5s ease;
  border-radius: 5px;
}
.section__medio-h .menu2:hover {
  transform: scale(1.1);
  transform: translate(0px, -15px);
  animation-iteration-count: infinite;
}
.section__medio-h .menu2 img {
  width: 100%;
}
.section__medio-h .menu2 .boton {
  padding: 0.2rem;
  display: inline-block;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 0.5rem;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: -1rem;
}
.section__medio-h .menu2 .boton button {
  padding: 0.2rem 0.1rem;
  border-radius: 5px;
}
.section__medio-h .menu2 .boton button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.2s;
}
.section__medio-h .menu2 .boton button:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.2s;
}
.section__medio-h .menu2 .boton:hover button {
  padding-right: 15px;
}
.section__medio-h .menu2 .boton:hover button:after {
  opacity: 1;
  right: 0;
}
.section__medio-h .menu3 {
  border: 1px solid rgba(255, 0, 0, 0);
  width: 13rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  box-shadow: 0px 0px 5px #000000;
  transition: transform 0.5s ease;
  border-radius: 5px;
}
.section__medio-h .menu3:hover {
  transform: scale(1.1);
  transform: translate(0px, -15px);
  animation-iteration-count: infinite;
}
.section__medio-h .menu3 img {
  width: 100%;
}
.section__medio-h .menu3 .boton {
  padding: 0.2rem;
  display: inline-block;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 0.5rem;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: -1rem;
}
.section__medio-h .menu3 .boton button {
  padding: 0.2rem 0.1rem;
  border-radius: 5px;
}
.section__medio-h .menu3 .boton button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.2s;
}
.section__medio-h .menu3 .boton button:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.2s;
}
.section__medio-h .menu3 .boton:hover button {
  padding-right: 15px;
}
.section__medio-h .menu3 .boton:hover button:after {
  opacity: 1;
  right: 0;
}
.section__medio-h .menu4 {
  border: 1px solid rgba(255, 0, 0, 0);
  width: 13rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  box-shadow: 0px 0px 5px #000000;
  transition: transform 0.5s ease;
  border-radius: 5px;
}
.section__medio-h .menu4:hover {
  transform: scale(1.1);
  transform: translate(0px, -15px);
  animation-iteration-count: infinite;
}
.section__medio-h .menu4 img {
  width: 100%;
}
.section__medio-h .menu4 .boton {
  padding: 0.2rem;
  display: inline-block;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 0.5rem;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: -1rem;
}
.section__medio-h .menu4 .boton button {
  padding: 0.2rem 0.1rem;
  border-radius: 5px;
}
.section__medio-h .menu4 .boton button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.2s;
}
.section__medio-h .menu4 .boton button:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.2s;
}
.section__medio-h .menu4 .boton:hover button {
  padding-right: 15px;
}
.section__medio-h .menu4 .boton:hover button:after {
  opacity: 1;
  right: 0;
}
.section__medio-h .menu5 {
  border: 1px solid rgba(255, 0, 0, 0);
  width: 13rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  box-shadow: 0px 0px 5px #000000;
  transition: transform 0.5s ease;
  border-radius: 5px;
}
.section__medio-h .menu5:hover {
  transform: scale(1.1);
  transform: translate(0px, -15px);
  animation-iteration-count: infinite;
}
.section__medio-h .menu5 img {
  width: 100%;
}
.section__medio-h .menu5 .boton {
  padding: 0.2rem;
  display: inline-block;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 0.5rem;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: -1rem;
}
.section__medio-h .menu5 .boton button {
  padding: 0.2rem 0.1rem;
  border-radius: 5px;
}
.section__medio-h .menu5 .boton button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.2s;
}
.section__medio-h .menu5 .boton button:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.2s;
}
.section__medio-h .menu5 .boton:hover button {
  padding-right: 15px;
}
.section__medio-h .menu5 .boton:hover button:after {
  opacity: 1;
  right: 0;
}
.section__medio-h .menu6 {
  border: 1px solid rgba(255, 0, 0, 0);
  width: 13rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  box-shadow: 0px 0px 5px #000000;
  transition: transform 0.5s ease;
  border-radius: 5px;
}
.section__medio-h .menu6:hover {
  transform: scale(1.1);
  transform: translate(0px, -15px);
  animation-iteration-count: infinite;
}
.section__medio-h .menu6 img {
  width: 100%;
}
.section__medio-h .menu6 .boton {
  padding: 0.2rem;
  display: inline-block;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 0.5rem;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: -1rem;
}
.section__medio-h .menu6 .boton button {
  padding: 0.2rem 0.1rem;
  border-radius: 5px;
}
.section__medio-h .menu6 .boton button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.2s;
}
.section__medio-h .menu6 .boton button:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.2s;
}
.section__medio-h .menu6 .boton:hover button {
  padding-right: 15px;
}
.section__medio-h .menu6 .boton:hover button:after {
  opacity: 1;
  right: 0;
}
.section__medio-h .menu7 {
  border: 1px solid rgba(255, 0, 0, 0);
  width: 13rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  box-shadow: 0px 0px 5px #000000;
  transition: transform 0.5s ease;
  border-radius: 5px;
}
.section__medio-h .menu7:hover {
  transform: scale(1.1);
  transform: translate(0px, -15px);
  animation-iteration-count: infinite;
}
.section__medio-h .menu7 img {
  width: 100%;
}
.section__medio-h .menu7 .boton {
  padding: 0.2rem;
  display: inline-block;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 0.5rem;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: -1rem;
}
.section__medio-h .menu7 .boton button {
  padding: 0.2rem 0.1rem;
  border-radius: 5px;
}
.section__medio-h .menu7 .boton button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.2s;
}
.section__medio-h .menu7 .boton button:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.2s;
}
.section__medio-h .menu7 .boton:hover button {
  padding-right: 15px;
}
.section__medio-h .menu7 .boton:hover button:after {
  opacity: 1;
  right: 0;
}
.section__medio-h .menu8 {
  border: 1px solid rgba(255, 0, 0, 0);
  width: 13rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  box-shadow: 0px 0px 5px #000000;
  transition: transform 0.5s ease;
  border-radius: 5px;
}
.section__medio-h .menu8:hover {
  transform: scale(1.1);
  transform: translate(0px, -15px);
  animation-iteration-count: infinite;
}
.section__medio-h .menu8 img {
  width: 100%;
}
.section__medio-h .menu8 .boton {
  padding: 0.2rem;
  display: inline-block;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 0.5rem;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: -1rem;
}
.section__medio-h .menu8 .boton button {
  padding: 0.2rem 0.1rem;
  border-radius: 5px;
}
.section__medio-h .menu8 .boton button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.2s;
}
.section__medio-h .menu8 .boton button:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.2s;
}
.section__medio-h .menu8 .boton:hover button {
  padding-right: 15px;
}
.section__medio-h .menu8 .boton:hover button:after {
  opacity: 1;
  right: 0;
}

@media screen and (max-width: 480px) {
  /*header*/
  .navbar__edit {
    width: 100%;
  }
  .navbar__edit .navbar__edit-containerFluid .navbar__imgLogo img {
    margin-top: 0rem;
    margin-left: 8rem;
  }
  .navbar__edit .navbar__edit-containerFluid .nav__media li a {
    margin-left: 13rem;
    text-align: center;
  }
  /*contacto*/
  .body__contacto header .navbar__edit {
    width: 100%;
  }
  .body__contacto header .navbar__edit .navbar__edit-containerFluid .navbar__imgLogo img {
    margin-top: 0rem;
    margin-left: 8rem;
  }
  .body__contacto header .navbar__edit .navbar__edit-containerFluid .navbar-nav ul {
    width: 18rem;
  }
  .body__contacto header .navbar__edit .navbar__edit-containerFluid .navbar-nav .navbar__li_a {
    margin-left: auto;
    text-align: end;
  }
  /*INDEX*/
  .main__div__index {
    width: 100%;
    background-position: bottom;
    background-attachment: fixed;
  }
  .main__div__index .main__section__cajita .main__button {
    width: 19rem;
    box-shadow: 0px 0px 5px #000;
  }
  /*man*/
  .section__superior-h {
    height: 125vh;
    background-position: center;
    background-size: cover;
  }
  .section__superior-h .section__div {
    border: none;
  }
  .section__medio-h {
    margin-top: 10rem;
  }
  /*mujer*/
  .mujer .navbar__edit {
    max-width: 55.9vh;
    margin: 0;
    padding: 0;
  }
  .mujer .navbar__edit .navbar__edit-containerFluid {
    margin: 0;
  }
  .mujer .navbar__edit .navbar__edit-containerFluid a img {
    width: 5rem;
    margin: 0;
    margin-left: 8rem;
  }
  .mujer .navbar__edit .navbar__edit-containerFluid .nav__media .navbar__li_a {
    font-size: 1.4rem;
    margin-left: auto;
  }
  .mujer .navbar__edit .navbar__edit-containerFluid .nav__media .navbar__li_a .cajita__tienda {
    width: 19em;
  }
  .mujer .navbar__edit .navbar__edit-containerFluid .nav__media .navbar__li_a .cajita__tienda li a {
    font-size: 1rem;
    margin: 0;
    margin-left: 10rem;
  }
  .mujer .container__mujer .main_mujer {
    width: 23.3em;
    height: 100vh;
    background-position: top;
    background-position-x: -30em;
    background-position-y: -2em;
  }
  .mujer .container__mujer .main_mujer .mainMulier {
    width: 22rem;
  }
  .mujer .container__mujer .main_mujer .mainMulier .carta {
    width: 20rem;
    margin-left: 1.7em;
  }
  .mujer .container__mujer .main_mujer .mainMulier .carta .main__h2 {
    font-size: 8rem;
    text-align: center;
  }
  .mujer .container__mujer .main_mujer .mainMulier .main__button-mujer {
    margin: 0;
    width: 15rem;
    margin-left: 12vh;
  }
  .mujer .cajas {
    width: 23.1em;
    height: 300vh;
  }
  .mujer .cajas .cajita {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .mujer .cajas .cajita1 {
    width: 22rem;
  }
  .mujer .cajas .cajita1 .p__mujer {
    margin: 0;
    margin-right: 5rem;
    width: 19rem;
    text-align: center;
  }
  .mujer .cajas .cajita2 {
    width: 10rem;
    margin-top: 5rem;
  }
  .mujer .cajas .cajita2 img {
    width: 100%;
  }
  .mujer .cajas .cajita3 {
    width: 12rem;
  }
  .mujer .cajas .cajita3 .contenido1 {
    width: 150px !important;
  }
  .mujer .cajas .cajita3 .contenido1 .h3__mujer__remeras {
    text-align: start;
  }
  .mujer .cajas .cajita3 .contenido1 img {
    width: 50%;
    margin: 0;
  }
  .mujer .cajas .cajita3 .contenido1 .boton__mujer {
    margin: 0;
  }
  .mujer .cajas .cajita3 .contenido2 {
    width: 150px;
  }
  .mujer .cajas .cajita3 .contenido2 .h3__mujer__remeras {
    text-align: start;
  }
  .mujer .cajas .cajita3 .contenido2 img {
    width: 50%;
    margin: 0;
  }
  .mujer .cajas .cajita3 .contenido2 .boton__mujer {
    margin: 0;
  }
  .mujer .cajas .cajita4 {
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    display: grid;
  }
  .mujer footer {
    margin-top: 62em;
  }
  /*niños*/
  body main .section__superior {
    flex-direction: column;
    justify-content: none;
    height: 150vh;
  }
  body main .section__superior .section__cajita1 {
    width: 20rem;
    margin: 0;
  }
  body main .section__superior .section__cajita1 .section__niños__h3 {
    font-size: 4rem;
  }
  body main .section__superior .section__cajita1 .main__button-niños {
    width: 10rem;
    margin: 0;
    margin-left: 5rem;
  }
  body main .section__media {
    margin: 0;
    margin-top: -10rem;
  }
  body main .section__media .section__div {
    margin: 0;
  }
  body main .section__media .section__div .section__h3-media {
    margin: 0;
    width: 12rem;
    margin-top: 5rem;
  }
  body main .section__media .section__div .section__p-media {
    width: 11rem;
  }
  body main .section__inferior-niños {
    margin-top: 25rem;
  }
  body .footer__ni {
    position: relative;
    bottom: -86.4rem;
  }
  /*footer*/
  footer {
    width: 100%;
  }
}/*# sourceMappingURL=styles.css.map */