@media screen and (max-width: 480px) {
    .main__div__div {
        background-size: cover;
        background-position: center;
        justify-content: center;
    }

    /*
media de pagina hombre
*/
    .section__superior-h {
        background-position: center;
        height: 70%;

        .text__h2-hombres {
            margin-top: -3.8rem;
        }
    }

    .section__media {
        gap: 0;
        flex-wrap: wrap;
        border: 1px solid rgba(255, 0, 0, 0);

        .menu {
            width: 10rem;
            gap: 2px;
        }
    }

    .footer__h {
        margin-top: 50rem;
    }

    /*
    pagina de niños
    */

    .section__superior {
        background-color: aquamarine;
    }
}