@media screen and (max-width: 480px) {

    /*header*/
    .navbar__edit {
        width: 100%;

        .navbar__edit-containerFluid {

            .navbar__imgLogo {

                img {
                    margin-top: 0rem;
                    margin-left: 8rem;
                }
            }

            .nav__media {

                li {

                    a {
                        margin-left: 13rem;
                        text-align: center;
                    }
                }
            }
        }
    }

    /*contacto*/
    .body__contacto {

        header {

            .navbar__edit {
                width: 100%;

                .navbar__edit-containerFluid {

                    .navbar__imgLogo {

                        img {
                            margin-top: 0rem;
                            margin-left: 8rem;
                        }
                    }

                    .navbar-nav {

                        ul {
                            width: 18rem;
                        }

                        .navbar__li_a {
                            margin-left: auto;
                            text-align: end;
                        }
                    }
                }
            }
        }

    }


    /*INDEX*/
    .main__div__index {
        width: 100%;
        background-position: bottom;
        background-attachment: fixed;

        .main__section__cajita {

            .main__button {
                width: 19rem;
                box-shadow: 0px 0px 5px #000;
            }
        }
    }

    /*man*/
    .section__superior-h {
        height: 125vh;
        background-position: center;
        background-size: cover;

        .section__div {
            border: none;
        }
    }

    .section__medio-h {
        margin-top: 10rem;
    }
    /*niños*/
    body {

        .navbar__edit {

            .navbar__edit-containerFluid {

                .navbar__divInicoTiendaContacto {

                    ul {
                        text-align: end;

                        li {

                            a {
                                margin-left: 12.8rem;
                            }
                        }
                    }
                }
            }
        }

        main {
            .section__superior {
                flex-direction: column;
                justify-content: none;
                height: 150vh;

                .section__cajita1 {
                    width: 20rem;
                    margin: 0;

                    .section__niños__h3 {
                        font-size: 4rem;
                    }

                    .main__button-niños {
                        width: 10rem;
                        margin: 0;
                        margin-left: 5rem;
                    }
                }
            }

            .section__media {
                margin: 0;
                margin-top: -10rem;

                .section__div {
                    margin: 0;

                    .section__h3-media {
                        margin: 0;
                        width: 12rem;
                        margin-top: 5rem;
                    }

                    .section__p-media {
                        width: 11rem;
                    }
                }
            }

            .section__inferior-niños {
                margin-top: 25rem;
            }
        }

        .footer__ni {
            position: relative;
            bottom: -86.4rem;
        }
    }

    /*mujer*/
    body {
        .container__mujer {

            section {
                .container__superior-mujer {
                    width: 63.5vh;
                    background-position-x: -28rem;

                    .container__s-m {

                        .carta {
                            max-width: 20rem;
                            margin-top: 5rem;
                        }

                        .main__button-mujer {
                            max-width: 10rem;
                            margin: 0;
                            margin-left: 18vh;
                        }
                    }
                }
            }

            .container__mujer-medio {
                margin-left: 2rem;

                .img__mujer {
                    img {
                        width: 20rem;
                    }
                }

                .container__remeras {
                    display: flex;
                    flex-direction: column;
                    row-gap: 2rem;
                    flex-wrap: wrap;
                    padding: 0;
                    padding-top: 1rem;
                    margin-left: 2rem;
                }
            }

            .container__mujer-inferior {
                margin-left: 2rem;
            }
        }

        .footer__mujer {
            width: 113%;
        }
    }
    /*footer*/
    footer {
        width: 100%;
    }
}