@media screen and (max-width: 480px) {
    /*
    media padiga index
    */
    .main__div__div {
        background-size: cover;
        background-position: center;
        justify-content: center;

        .main__section__cajita {

            .h1__man {
                text-shadow: 0px 0px 10px #000;
            }

            .main__p {
                text-shadow: 0px 0px 10px #000;
            }
        }
    }

    /*
media de pagina hombre
*/
    .section__superior-h {
        background-position: center;
        height: 70%;

        .text__h2-hombres {
            margin-top: -3.8rem;
        }
    }

    .section__media {
        gap: 0;
        flex-wrap: wrap;
        border: 1px solid #ff000000;

        .menu {
            width: 10rem;
            gap: 2px;
        }
    }

    .footer__h {
        margin-top: 52rem;
    }

    /*
    pagina de niños
    */
    main {

        .section__superior {
            border: 2px solid #ff000000;
            flex-direction: column;
            align-items: center;
            padding-bottom: 2rem;

            .section__cajita1 {
                width: 15rem;
                margin-top: 4rem;
                height: 120vh;

                .section__niños__h3 {
                    padding: 5rem;
                    font-size: 3.5rem;
                    padding-left: 2rem;
                }

                .section__boton {
                    margin-bottom: 1rem;
                }
            }
        }
    }

    .section__media {
        margin-top: 18rem;
        margin-bottom: 0;
    }

    .footer__ni {
        margin-top: 83rem;
    }

    /*
    pagina de mujeres
    */

    body {
        .container__mujer {

            .section1 {
                background-position: center;
                background-attachment: fixed;

                .h3__mujer {
                    width: 22rem;
                    font-size: 10rem;
                }
                .mujeres__boton {
                    margin: 0 0 0 10rem;
                } 
            }

            .cajas {
                display: flex;
                flex-direction: column;

                .cajita4 {
                    flex-direction: row;
                    flex-wrap: wrap;
                }

                .cajita2 {

                    img {
                        width:20rem;
                    }
                }
            }
        }
    }

    .footer__mujer {
        margin-top: 62rem;
    }
}
