@media screen and (max-width: 480px) {

    /*header*/
    .navbar__edit {
        width: 100%;

        .navbar__edit-containerFluid {

            .navbar__imgLogo {

                img {
                    margin-top: 0rem;
                    margin-left: 8rem;
                }
            }

            .nav__media {

                li {

                    a {
                        margin-left: 13rem;
                        text-align: center;
                    }
                }
            }
        }
    }

    /*INDEX*/
    .main__div__index {
        width: 100%;
        background-position: bottom;
        background-attachment: fixed;

        .main__section__cajita {

            .main__button {
                width: 19rem;
                box-shadow: 0px 0px 5px #000;
            }
        }
    }

    /*footer*/
    footer {
        width: 100%;
    }
}