footer {
    background-color: $color-Negro;
    height: 8rem;

    .footer__h2 {
        text-align: center;
        color: #ddb;
    }

    .footer {
        display: flex;
        justify-content: center;

        .redes {
            margin-top: 3rem;
            border: 1px solid $color-blanco;
            max-width: 2.2rem;
            background-color: $color-preferido;
            border-radius: 18px;
            margin: 0.3rem;

            .img__redes {
                width: 100%;
                border-radius: 12.5px;

                &:hover {
                    box-shadow: 0px 0px 13px #ddb;
                }
                
            }

            p {
                color: $color-preferido;
            }
        }
    }

    .copy {
        color: $color-preferido;
        text-align: center;
    }
}
