.navbar__edit {
    border: 1px solid #ff000000;
    position: fixed;
    width: 100vw;
    margin-top: -0.6rem;
    max-height: 3.5rem;
    z-index: 1;

    .navbar__edit-containerFluid {
        border: 1px solid #ffe60000;
        background-color: $color-gris;
        box-shadow: 0px 0px 20px $color-Negro;

        .navbar__imgLogo img {
            border: 1px solid #51ff0000;
            width: 3rem;
        }

        .navbar__divInicoTiendaContacto {
            border: 1px solid #33ff0000;
            justify-content: end;
        }

        .navbar__li_a {
            font-size: 1.4rem;
            margin-left: 0.5rem;

            &:hover {
                background-color: #cccccc00;
            }

            & a:hover {
                color: #630000;
                text-shadow: 0px 0px 15px $color-blanco;
            }
        }
    }
}