.main__contacto {
    height: 100vh;
    border: 2px solid $color-Negro;
    background-image: url(../img/contacto.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


    .container__contacto {
        background-color: #0000001f;
        border: 1px solid $color-Negro;
        width: 20rem;
        margin: auto;
        margin-top:12rem;
        padding: 1rem;
        border-radius: 10px;

        .contactanos {
            color: antiquewhite;
            text-align: center;
            border-radius: 10px;
        }

        .form__contactos {
            color: $color-blanco;
            display: flex;
            flex-direction: column;
            border-radius: 10px;

            .boton__contactos {
                width: 100%;
                padding: 0.2rem;
                border-radius: 10px;
                margin-top: 0.6rem;

                &:hover {
                    background-color: #ffffff71;
                    color: $color-blanco;
                }
            }
        }
    }
}